@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.chatbot {
    padding: 30px;
    border: 2px solid gray;
    border-radius: 15px;
    height: 50vh;
    overflow-y: scroll;
}

.user-avatar {
    border-radius: 50px;
    display: inline-block;
    height: 50px;
}

.bot {
    font-family: $font-family;
    font-size: $font-size-min;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: $color-primary-hue-medium;
    color: $color-secondary;
    margin: 0px 10px 10px 10px;
    padding: 8px 13px;
    border-radius: 20px 20px 20px 0px;
}

.user {
    font-family: $font-family;
    font-size: $font-size-min;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $color-primary-hue-light;
    color: $color-secondary;
    margin: 0px 10px 10px 10px;
    padding: 8px 13px;
    border-radius: 15px 15px;
    border-radius: 20px 20px 0px 20px;
    gap: 25px;
}

.options-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px;
}

.chatbot__finish-button {
    @include custom-button($color-primary-hue-light, $color-secondary);
}


.react-chatbot-kit-user-chat-message-container {
    display: flex;
    justify-content: flex-end;
}

.react-chatbot-kit-chat-container {}

.react-chatbot-kit-chat-inner-container {
    background-color: $color-body;

}

.react-chatbot-kit-chat-header {}

.react-chatbot-kit-chat-input-container {
    display: flex;
    justify-content: center;

}

.react-chatbot-kit-chat-message-container {
    padding: 15px;


}

.react-chatbot-kit-chat-input {
    width: 60vw;
    border-radius: 30px;
    border: none;
    padding: 12px;
    margin-bottom: 20px;
}

.react-chatbot-kit-chat-input-form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.react-chatbot-kit-chat-input::placeholder {}

.react-chatbot-kit-chat-btn-send {
    background-color: $color-secondary  !important;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 20px;
}

.react-chatbot-kit-chat-btn-send-icon {
    background-image: url('../../assets/img/send.svg') !important;
    background-repeat: no-repeat;

    path {
        fill: $color-primary;
        d: path('');
        z-index: 4;
    }
}


.react-chatbot-kit-chat-bot-message-container {
    display: flex;
    justify-content: flex-start;

    img {
        height: 50px;
    }
}

.react-chatbot-kit-chat-bot-avatar-container {}

.react-chatbot-kit-chat-bot-avatar-icon {}


.react-chatbot-kit-chat-bot-avatar-letter {}

.react-chatbot-kit-chat-bot-message {}


.react-chatbot-kit-chat-bot-message-arrow {
    border: 2px solid green;
    background-color: green;
}

.react-chatbot-kit-chat-bot-loading-icon-container {}

.chatbot-loader-container {}

#chatbot-loader #chatbot-loader-dot1 {}

#chatbot-loader #chatbot-loader-dot2 {}

#chatbot-loader #chatbot-loader-dot3 {}

.react-chatbot-kit-error {}

.react-chatbot-kit-error-container {}

.react-chatbot-kit-error-header {}

.react-chatbot-kit-error-docs {}