.bot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F3A38C;
    margin: 10px;
    padding: 8px 13px;
    border-radius: 15px 15px;
    border-radius: 20px 20px 20px 0px;
    gap: 25px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #FCD8C3;
    margin: 10px;
    padding: 8px 13px;
    border-radius: 15px 15px;
    border-radius: 20px 20px 0px 20px;
    gap: 25px;
}

