@import '../utils/variables.scss';

.chat-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    /* Primarios/Matiz primario 2 */

    background: $color-primary-hue-light;
    color: $color-secondary;
    border-radius: 40px;
    border: none;

}